
.menu {

  &--mobile {
    max-width: 200px;

    .menu {
      &-mobile-container {
        position: relative;
    
        &__selected-item {
          cursor: pointer;
        }

        &__selected-item,
        &__selected-item:hover {
          box-shadow: inset 5px 0 #2dcb73;
        }

        &__toggle-options {
          margin-left: 10px;
        }
    
        &__options {
          width: 100%;
          position: absolute;
          left: 0;
          top: 100%;
          display: flex;
          flex-direction: column;
          box-shadow: 3px 3px 6px #e2e0e0;
          background-color: #fff;
    
          .menu__item {
            margin: 0;
            padding-top: 10px;

            &:hover {
              box-shadow: inset 5px 0 #2dcb73;
            }
          }
        }
      }
    }
  }
  
  &__item {
    letter-spacing: 1px;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #3d454f;
    padding: 5px 15px 10px;
    display: inline-block;

    &--active,
    &:hover {
      box-shadow: inset 0 -5px #2dcb73;
    }

    & + & {
      margin-left: 35px;
    }
  }
}