
.app-container {
  padding: 0 .5em;

  &__header {
    padding: 20px 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .user-description__name {
      color: #ababab;
    }
  }

  &__header-user-profile {
    .user-description__img {
      
    }
  }

  .header-actions {
    margin-right: 80px;
  }
}